In [53]:
set_a = {1, 2, 3, 4, "a", "b", "c"}

numbers = {1, 2, 4}

letters = { "a", "b"}

In [54]:
set_a.symmetric_difference_update(letters)

In [55]:
set_a

{1, 2, 3, 4, 'c'}

In [9]:
numbers.add(3)

In [10]:
print(numbers)

{1, 2, 3, 4}

In [11]:
letters.add('c')

In [12]:
letters.issubset(set_a)

True

In [13]:
letters.issubset(numbers)

False

In [17]:
set_a.union(letters)

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

In [16]:
set_a.add('c')
set_a.add('d')

In [18]:
print(set_a)

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

In [19]:
set_a.intersection(numbers)

{1, 2, 3, 4}

In [20]:
set_a.difference(numbers)

{'a', 'b', 'c', 'd'}

In [21]:
set_a.symmetric_difference(letters)

{1, 2, 3, 4, 'd'}

In [26]:
first_element = set_a.pop()

In [27]:
set_a

{2, 3, 4, 'a', 'b', 'c', 'd'}

In [28]:
first_element

1

In [29]:
set_a.add(first_element)

In [30]:
set_a

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

In [31]:
set_a.issuperset(letters)

True

In [33]:
set_b = set_a.copy()

In [34]:
set_b

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

In [35]:
set_a == set_b

True

In [36]:
letters != set_b

True

In [37]:
numbers | letters

{1, 2, 3, 4, 'a', 'b', 'c'}

In [39]:
numbers & letters

In [42]:
set_a & letters

{'a', 'b', 'c'}

In [43]:
set_a.update([2, 4, 6])

In [44]:
set_a

{1, 2, 3, 4, 6, 'a', 'b', 'c', 'd'}

In [45]:
set_a * set_b

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [46]:
3 * numbers

TypeError: unsupported operand type(s) for *: 'int' and 'set'

In [47]:
3 * [2, 4, 6]

[2, 4, 6, 2, 4, 6, 2, 4, 6]

In [48]:
for e in set_a:

    try:
        
        print(2 * e)

    except:

        next

2
4
6
8
aa
bb
cc
12
dd

In [49]:
set_a.difference_update(letters)

In [50]:
set_a

{1, 2, 3, 4, 6, 'd'}

In [51]:
set_b.intersection_update(numbers)

In [52]:
set_b

{1, 2, 3, 4}